body{
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

#pending{
    width: 100%;
    max-width: 1000px;
}

#approved{
    width: 100%;
    max-width: 1000px;
}

.btn-info{
    color: #232624;
}